*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app-debug.apk
src/main/java/danilbiktashev/aidadok/architecture/business_layer/
src/main/java/danilbiktashev/aidadok/architecture/data_layer/
